
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>Index</h2>
    <div class="invoerveld">
        <form>
            Voornaam:<br />
            <input type="text" name="FirstName" /><br />
            Achternaam:<br />
            <input type="text" name="LastName" /><br />
            Leeftijd:<br />
            <input type="number" name="Age" max="120"/><br />
            <input type="submit" value="submit" /><br />
            
        </form>
        <br />
    </div>
    <div class="uitvoerveld">
        <form>
            <input type="text" name="FirstName"></input>
        </form>
        
    </div>
</div>



